@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 480px) {

.Page {
  background-color: $page__wrapper;
  width: 100%;
  height: 100%;
  //background-image: url("./pub.jpeg");
}

.quizQuestion {
  margin-top: 15%;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
        
.responseBtnsContainer {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  height: 250px;
  align-items: center;
  width: 100%;

  #responseBtns  {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 5%;
    border: 0;
    background-color:  green;
    box-shadow: none;
    border-radius: 0px;
    padding: 2%;
    border-radius: 20%;
    width: 66%;
    color: white;
    height: 40px;
  }
} 

.container__nextQuestion {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;

  .nextQuestion {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 5%;
    border: 0;
    background-color: blue;
    box-shadow: none;
    border-radius: 0px;
    padding: 2%;
    border-radius: 20%;
    width: 66%;
    color: white;
    height: 40px;
    } 
}

.score-Tally {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;

  .score {
    font-family: 'Roboto', sans-serif;
    //color: white;
  }

  .tally {
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    //color: white;
  }
}
  .countdownreset__container {
    width: 100%;
    display: flex;
    justify-content: center;
    
      .reset {
        margin-top: 5%;
        font-family: 'Roboto', sans-serif;
        border: 0;
        background: red;
        box-shadow: none;
        border-radius: 0px;
        padding: 2%;
        border-radius: 20%;
        width: 15%;
        //color: white;
      }
  }
  // .countdown {
  //   margin-top: 10%;
  //   font-family: 'Roboto', sans-serif;
  //   font-size: 60px;
  //   padding: 2%;
  //   display: flex;
  //   justify-content: center;
  // }

}

@media only screen and (min-width: 481px) {

  
  }

  @media only screen and (min-width: 1025px) {

    
    }