@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 812px) {
  #page {
    background-color: cyan;
    height: 100vh;
    width: 100vw;
  }

  #question {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 6vh;
    margin-bottom: 2vh;
    height: 3vh;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }

  .choice-container {
    margin-top: 5vh;
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    margin-top: 15vh;
  }

  .choice__btns {
    height: 6vh;
    background: none;
    box-shadow: none;
    border-radius: 16px;
    color: black;
    border: 2px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }

  .reset__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
  }

  .reset {
    height: 4vh;
    width: 12vw;
    background: none;
    box-shadow: none;
    border-radius: 16px;
    color: black;
    border: 2px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
  }

  #score__container {
    display: flex;
    flex-direction: row;
  }

  .correct {
    background-color: #27a832;
  }

  .incorrect {
    background-color: #db3646;
  }

  .score {
    font-size: 20px;
    margin-left: 40%;
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
  }

  .tally {
    font-size: 20px;
    margin-left: 5vw;
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
  }
}
@media only screen and (min-width: 813px) {
  #page {
    background-color: cyan;
    height: 100vh;
    width: 100vw;
  }

  #question {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 8vh;
    height: 3vh;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 45px;
  }

  .choice-container {
    margin-top: 10%;
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    margin-top: 15vh;
  }

  .choice__btns {
    height: 6vh;
    background: none;
    box-shadow: none;
    border-radius: 16px;
    color: black;
    border: 2px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
  }

  #score__container {
    display: flex;
    flex-direction: row;
  }

  .correct {
    background-color: #27a832;
  }

  .incorrect {
    background-color: #db3646;
  }

  .score {
    font-size: 20px;
    margin-left: 43%;
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
  }

  .tally {
    font-size: 20px;
    margin-left: 5vw;
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
  }

  .reset__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
  }

  .reset {
    height: 4vh;
    width: 12vw;
    background: none;
    box-shadow: none;
    border-radius: 16px;
    color: black;
    border: 2px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
  }
}