@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 812px) {

  #page {
    background-color: $page;
    height: 100vh;
    width: 100vw;
  }

  #question {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 6vh;
    margin-bottom: 2vh;
    height: 3vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.choice-container {
  margin-top: 5vh;
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  margin-top: 15vh;
}

.choice__btns {
  height: 6vh;
  background: none;
  box-shadow: none;
  border-radius: 16px;
  color: $btn__text-colour;
  border: 2px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.reset__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
}

.reset {
  height: 4vh;
  width: 15vw;
  background: none;
  box-shadow: none;
  border-radius: 16px;
  color: $btn__text-colour;
  border: 2px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  padding: 10px;
}

.score__container {
display: flex;
flex-direction: row;
padding-top: 5vh;

.score {
  font-size: 20px;
  margin-left: 20%;
  font-family: 'Roboto', sans-serif;
}

.tally {
  font-size: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: 'Roboto', sans-serif;
  }

  .time {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-right: 5vw;
  }

  .countdown {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
}

.correct {
  background-color: $correct__colour;
  }

.incorrect {
  background-color: $incorrect__colour;
  }
}

@media only screen and (min-width: 813px) {

  #page {
    background-color: $page;
    height: 100vh;
    width: 100vw;
  }

  #question {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 6vh;
    margin-bottom: 2vh;
    height: 3vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.choice-container {
  margin-top: 5vh;
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  margin-top: 15vh;
}

.choice__btns {
  height: 6vh;
  background: none;
  box-shadow: none;
  border-radius: 16px;
  color: $btn__text-colour;
  border: 2px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.reset__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
}

.reset {
  height: 4vh;
  width: 15vw;
  background: none;
  box-shadow: none;
  border-radius: 16px;
  color: $btn__text-colour;
  border: 2px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  padding: 10px;
}

.score__container {
display: flex;
flex-direction: row;
padding-top: 5vh;

.score {
  font-size: 40px;
  margin-left: 27%;
  font-family: 'Roboto', sans-serif;
}

.tally {
  font-size: 40px;
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: 'Roboto', sans-serif;
  }

  .time {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-right: 5vw;
  }

  .countdown {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
  }
}

.correct {
  background-color: $correct__colour;
  }

.incorrect {
  background-color: $incorrect__colour;
  }
}
