@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 480px) {

  #question {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 8vh;
    height: 3vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  
}

.choice-container {
  margin-top: 5vh;
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  margin-top: 15vh;
}

.choice__btns {
  height: 6vh;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: $btn__colour;
  color: $btn__text-colour;
  font-family: 'Roboto', sans-serif;

}

#score__container {
display: flex;
flex-direction: row;
}

.correct {
  background-color: $correct__colour;
}

.incorrect {
  background-color: $incorrect__colour;
}

.score {
  font-size: 1rem;
  margin-left: 42%;
  margin-top: 5vh;
  font-family: 'Roboto', sans-serif;
}

.tally {
  font-size: 1rem;
  margin-left: 5vw;
  margin-top: 5vh;
  font-family: 'Roboto', sans-serif;
}
}

@media only screen and (min-width: 768px) {

  #question {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 8vh;
    height: 5vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  
}

.choice-container {
  margin-top: 5vh;
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}

.choice__btns {
  height: 6vh;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: $btn__colour;
  color: $btn__text-colour;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

#score__container {
display: flex;
flex-direction: row;
}

.correct {
  background-color: $correct__colour;
}

.incorrect {
  background-color: $incorrect__colour;
}

.score {
  font-size: 2rem;
  margin-left: 0vw;
  margin-top: 5vh;
  font-family: 'Roboto', sans-serif;
}

.tally {
  font-size: 2rem;
  margin-left: 5vw;
  margin-top: 5vh;
  font-family: 'Roboto', sans-serif;
}
}

@media only screen and (min-width: 1024px) {

  #question {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 8vh;
    height: 20vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-size: 50px;
}

.choice-container {
  margin-top: 5vh;
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}

.choice__btns {
  height: 6vh;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: $btn__colour;
  color: $btn__text-colour;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

#score__container {
display: flex;
flex-direction: row;
height: 10vh;
margin-left: 10%;
margin-top: 5vh;
}

.correct {
  background-color: $correct__colour;
}

.incorrect {
  background-color: $incorrect__colour;
}

.score {
  font-size: 2rem;
  margin-left: 35vw;
  margin-top: 3vh;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.tally {
  font-size: 2rem;
  margin-left: 5vw;
  margin-top: 3vh;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
}

@media only screen and (max-width: 1680px) {

  #question {
    width: 80%;
    margin-left: 10%;
    margin-top: 8vh;
    margin-bottom: 10vh;
    height: 15vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.choice-container {
  margin-top: 5vh;
  width: 50%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}

.choice__btns {
  height:6vh;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: $btn__colour;
  color: $btn__text-colour;
  font-family: 'Roboto', sans-serif;
}

#score__container {
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
text-align: center;
margin-left: 42%;
margin-top: 5vh;

.score {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.tally {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 3%;
}
}

.correct {
  background-color: $correct__colour;
}

.incorrect {
  background-color: $incorrect__colour;
}
}